<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상세페이지</title>
  <style>
    .container {
      width: 80%;
      margin: 0 auto;
    }

    .details, .booking-form {
      margin-top: 20px;
    }
  </style>
  <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
  ></script>
</head>
<body>

<div class="container">
  <h1>상세페이지</h1>
  <div class="details">

  </div>

  <div class="booking-form">
    <h2>티켓 예매</h2>
      <div>
        <label for="seatId">예매할 좌석 ID:</label>
        <input type="text" id="seatId" name="seatId" required />
      </div>
      <div>
        <button type="submit">예매하기</button>
      </div>
  </div>
</div>

</body>
<script>

</script>
</html>
