<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Game List</title>
</head>
<body>
<h1>경기 목록</h1>
<table>
  <thead>
  <tr>
    <th>경기</th>
    <th>남은 좌석</th>
    <th>예매시간</th>
    <th>경기 장소</th>
    <th>카테고리</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="game : ${games}">
    <td th:text="${game.name}">경기</td>
    <td th:text="${game.count}">남은 좌석</td>
    <td th:text="${#temporals.format(game.startDate, 'yyyy-MM-dd\'T\'HH:mm:ss')}">Date</td>
    <td th:text="${game.place}">경기장소</td>
    <td th:text="${game.category}">카테고리</td>
    <td>
      <a th:href="@{/v1/games/{id}(id=${game.id})}">상세보기</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
