<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FinalTicket</title>


    <link rel="stylesheet" href="/css/main.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">FinalTicket</div>
        <div class="navigation">
            <div th:if="${session.user != null}">
                <span th:text="${session.user.username}"></span>
                <span>님 환영합니다.</span>
                <a href="/v1/users/logout">로그아웃</a>
            </div>
            <div th:if="${session.user == null}">
                <a href="/v1/users/login-page">로그인</a>
                <a href="v1/users/signup">회원가입</a>
            </div>
            <a href="/v1/games/register">경기등록</a>
        </div>

    </div>
    <div class="search">
        <input type="text" placeholder="경기이름, 팀명등"/>
        <button>검색</button>
    </div>
    <div class="category">
        <ul class="category-tabs">
            <li class="tab-category active" data-tab="soccer"><a href="#">축구</a></li>
            <li class="tab-category" data-tab="baseball"><a href="#">야구</a></li>
            <li class="tab-category" data-tab="basketball"><a href="#">농구</a></li>
            <li class="tab-category"><a href="/v1/games/list">전체 경기 목록</a></li>
        </ul>
    </div>


    <script>


    </script>


</div>
<div class="footer">

    <p>ⓒ 2024 FinalTicket All rights reserved.</p>
</div>
</div>
</body>
</html>
