<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FinalTicket</title>
    <link rel="stylesheet" href="/css/main.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>
    <style>
        /* 테이블에 스타일 추가 */
        table {
            width: 100%; /* 테이블의 폭을 100%로 설정 */
            border-collapse: collapse; /* 테이블의 간격을 없애고 단일 테이블로 표시 */
            margin: 20px 0; /* 위아래 여백 설정 */
        }

        th, td {
            border: 1px solid #ddd; /* 테이블 셀의 테두리 설정 */
            padding: 8px; /* 테이블 셀의 내부 패딩 설정 */
            text-align: center; /* 텍스트를 가운데로 정렬 */
        }

        th {
            background-color: #f2f2f2; /* 헤더 셀의 배경색 설정 */
            color: #333; /* 헤더 셀의 텍스트 색상 설정 */
        }

        tr:nth-child(even) {
            background-color: #f9f9f9; /* 짝수 행의 배경색 설정 */
        }

        tr:hover {
            background-color: #e0f7fa; /* 마우스 오버 시 행의 배경색 설정 */
        }

        div.navigation > * {
            margin-left: 10px; /* 좌측 여백 추가 */
            margin-right: 10px; /* 우측 여백 추가 */
        }

    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">FinalTicket</div>
        <div class="navigation" id="auth-container">
            <!-- 인증 상태에 따라 표시할 요소들 -->
        </div>
    </div>
    <div class="search">
        <input id="keyword-input" type="text" placeholder="경기이름, 팀명등"/>
        <button onclick="serchKeyword()">검색</button>
    </div>
    <div class="category">
        <ul class="category-tabs">
            <li class="tab-category active" data-tab="soccer" onclick="getData('v1/games/category/SOCCER')"><a>축구</a></li>
            <li class="tab-category" data-tab="baseball" onclick="getData('v1/games/category/BASEBALL')"><a>야구</a></li>
            <li class="tab-category" data-tab="basketball" onclick="getData('v1/games/category/BASKETBALL')"><a>농구</a></li>
            <li class="tab-category" onclick="getData('v1/games/upcoming')"><a>예매 예정 경기</a></li>
            <li class="tab-category" onclick="getData('v1/games/available')"><a>예매 가능 경기</a></li>
            <li class="tab-category" onclick="getData('v1/games/list')"><a>전체 경기 목록</a></li>
        </ul>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>경기</th>
                <th>카테고리</th>
                <th>예매 가능 시간</th>
                <th>경기 장소</th>
                <th>남은 좌석</th>
            </tr>
            </thead>
            <tbody id="gameTbody">
            </tbody>
        </table>
    </div>
</div>
<div class="footer">
    <p>ⓒ 2024 FinalTicket All rights reserved.</p>
</div>
</body>
<script th:inline="javascript">
    const gameTbody = document.getElementById('gameTbody');
    var userObject = [[${user}]];
    $(document).ready(function() {
        checkAuthorization(); // 초기 인증 상태 확인
        getData('v1/games/list');
    });

    function logout() {
        const url = 'http://' + window.location.host + '/v1/users/logout';
        $.ajax({
            url: url,
            method: 'DELETE',
            xhrFields: {
                withCredentials: true // 쿠키 및 자격 증명을 함께 보내기 위해 true로 설정
            },
            success: function() {
                alert('로그아웃 성공!');
            }
        });
        const host = 'http://' + window.location.host;
        window.location.href = `${host}/v1/users/login-page`;
    }



    function checkAuthorization() {
        // 쿠키에서 'Authorization' 키를 확인
        const authCookie = document.cookie.split('; ').find(row => row.startsWith('Authorization='));
        const authContainer = document.getElementById('auth-container');


        if (authCookie) {
            // 'Authorization' 쿠키가 존재하면 사용자 로그인 상태
            authContainer.innerHTML = `
            <p>`+userObject.nickname+`님</p>
            `+adminTegChecker()+`
            <p onclick="callInfo()">내 정보</p>
            <p onclick="logout()">로그아웃</p>
        `;
        } else {
            // 'Authorization' 쿠키가 존재하지 않으면 사용자 로그아웃 상태
            authContainer.innerHTML = `
            <a href="/v1/users/login-page">로그인</a>
            <a href="/v1/users/signup">회원가입</a>
        `;
        }
    }


    function gameClickE(event) {
        const clickedRow = event.currentTarget;
        const hiddenInput = clickedRow.querySelector('input[type="hidden"]');
        const gameId = hiddenInput.value;
        const host = 'http://' + window.location.host;
        window.location.href = `${host}/v1/games/${gameId}/detail`;
    }
    function callInfo(){
        const host = 'http://' + window.location.host;
        window.location.href = `${host}/v1/users/info/view`;
    }

    function adminTegChecker(){
        if(userObject.role==="ADMIN"){
            console.log("관리자임");
            return "<p onclick='adminP()'>관리자 페이지</p>";
        }
        return " ";
    }

    function adminP(){
        host = 'http://' + window.location.host;
        window.location.href = `${host}/v1/admins/admin-page`;
    }

    function getData(url){
        $('#gameTbody').empty();
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                withCredentials: true // 쿠키 및 자격 증명을 함께 보내기 위해 true로 설정
            },
            success: function(data) {
                // 데이터 처리
                data.forEach(game => {
                    const row = document.createElement('tr');
                    row.addEventListener('click', gameClickE);
                    var parseDate =formatDate(game.startDate);
                    row.innerHTML = `<td>${game.name}</td>
                    <td>${game.category}</td>
                    <td>${parseDate}</td>
                    <td>${game.place}</td>
                    <td>${game.count}</td>
                    <input type="hidden" value=${game.id}>`;
                    gameTbody.appendChild(row);
                });
            },
            error: function(xhr, status, error) {
                console.error('Failed to fetch data:', status, error);
            }
        });
    }

    function serchKeyword(){
        var keyword =  $('#keyword-input').val();
        var input = document.getElementById('keyword-input');
        input.value = null;
        getData('v1/games/keyword/'+keyword);
    }

    function formatDate(isoString) {
        const date = new Date(isoString);
        console.log(date);
        // 연도, 월, 일, 시간, 분 추출
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();

        // 오전/오후 구분
        const ampm = hour >= 12 ? '오후' : '오전';

        // 시간 형식 변경 (12시간제로 변환)
        if (hour > 12) {
            hour -= 12;
        }

        // 시간이 0시일 경우 12시로 변경
        if (hour === 0) {
            hour = 12;
        }

        // 분이 한 자리일 경우 앞에 0 붙이기
        if (minute < 10) {
            minute = '0' + minute;
        }

        // 최종 형식 생성
        const formattedDate = `${year}년 ${month}월 ${day}일 ${ampm} ${hour}시 ${minute}분`;
        return formattedDate;
    }

</script>
</html>
