<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FinalTicket</title>


    <link rel="stylesheet" href="/css/main.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">FinalTicket</div>
        <div class="navigation">
            <div th:if="${session.user != null}">
                <span th:text="${session.user.username}"></span>
                <span>님 환영합니다.</span>
                <a href="/v1/users/logout">로그아웃</a>
            </div>
            <div th:if="${session.user == null}">
                <a href="/v1/users/login-page">로그인</a>
                <a href="v1/users/signup">회원가입</a>
            </div>
            <a href="/v1/games/register">경기등록</a>
        </div>

    </div>
    <div class="search">
        <input type="text" placeholder="경기이름, 팀명등"/>
        <button>검색</button>
    </div>
    <div class="category">
        <ul class="category-tabs">
            <li class="tab-category active" data-tab="soccer"><a href="#">축구</a></li>
            <li class="tab-category" data-tab="baseball"><a href="#">야구</a></li>
            <li class="tab-category" data-tab="basketball"><a href="#">농구</a></li>
            <li class="tab-category"><a href="/v1/games/list">전체 경기 목록</a></li>
        </ul>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>경기</th>
                <th>남은 좌석</th>
                <th>예매시간</th>
                <th>경기 장소</th>
                <th>카테고리</th>
            </tr>
            </thead>
            <tbody id = "gameTbody">
            </tbody>
        </table>
    </div>
</div>
<div class="footer">

    <p>ⓒ 2024 FinalTicket All rights reserved.</p>
</div>
</body>
<script>
    const gameTbody = document.getElementById('gameTbody');
        $(document).ready(function () {
        $.ajax({
            url: 'v1/games/list',
            method: 'GET',
            success: function(data) {
                // 데이터 처리
                console.log(data);
                data.forEach(game => {
                    const row = document.createElement('tr');
                    row.addEventListener('click',gameClickE);
                    row.innerHTML = `<td>${game.name}</td>
                    <td>${game.count}</td>
                    <td>${game.startDate}</td>
                    <td>${game.place}</td>
                    <td>${game.category}</td>
                    <input type="hidden" value=${game.id}>
                    `;
                    gameTbody.appendChild(row);
                });

            },
            error: function(xhr, status, error) {
                console.error('Failed to fetch data:', status, error);
            }
        });
    });
    function gameClickE(event){
        const clickedRow = event.currentTarget;
        const hiddenInput = clickedRow.querySelector('input[type="hidden"]');
        const gameId = hiddenInput.value;
        const host = 'http://' + window.location.host;
        window.location.href = host+'/v1/games/'+gameId+"/detail";
    }
</script>
</html>
